resources/
build/
lib/
.vs/
_deps/
bin/logs/
assets/
bin/
Eigen/

*Config.h

*.meta

*.bmp
*.png
*.jpg
*.gif
*.dds

*.mp4
*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb

assets/materials/
assets/models/
assets/textures/

homeworks/project/bin/CMakeFiles/cmake.check_cache
*/imgui_App_Editor_game.ini
homeworks/project/bin/imgui_App_Editor_game.ini
